In [1]:
# Import dependencies
import pandas as pd

In [2]:
#Read in df
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [4]:
# Filter to show reviews with more than 20 votes
votes_more_20 = vine_df[(vine_df["total_votes"] > 20)]
votes_more_20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [5]:
#Filter to show reviews where more than half of votes were helpful
helpful_more_half = votes_more_20[(votes_more_20["helpful_votes"]/votes_more_20["total_votes"] > 0.5)]
helpful_more_half.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [9]:
# Filter for paid reviews submitted through vine
vine_yes = helpful_more_half[(helpful_more_half["vine"] == "Y")]
vine_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N

In [10]:
# Filter for unpaid reviews not submitted through vine
vine_no = helpful_more_half[(helpful_more_half["vine"] == "N")]
vine_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [14]:
# Find total number of reviews submitted through vine and not through vine
vine_yes_total = vine_yes["review_id"].count()
vine_no_total = vine_no["review_id"].count()
print(vine_yes_total)
print(vine_no_total)

20
25104

In [16]:
# Find total number of 5 star reviews submitted through vine and not through vine
vine_yes_5 = vine_yes[(vine_yes["star_rating"] == 5)].count()["review_id"]
vine_no_5 = vine_no[(vine_no["star_rating"] == 5)].count()["review_id"]
print(vine_yes_5)
print(vine_no_5)

12
13479

In [18]:
# Find percentage of 5 star reviews submitted through vine and not through vine
vine_yes_5_percent = vine_yes_5/vine_yes_total
vine_no_5_percent = vine_no_5/vine_no_total
print(vine_yes_5_percent)
print(vine_no_5_percent)

0.6
0.5369263862332696